= form_with(model: @post, local: true) do |form|
  %h3
    編集する
  = form.text_field :title, placeholder: "title"
  = form.label :image,class: 'main-form__box-image' do
    = icon('fas', 'image')
    = form.file_field :image, class: 'main-form__box-image__file'
  = form.text_area :text, placeholder: "text"
  = form.submit "SEND"
