- if user_signed_in?
  .header
    .header-left
      %input{type: "text", class: "header-left__serch", placeholder: "What title?"}
      %input{type: "submit", class: "header-left__btn", value:"serch"}
    .header-right
      = link_to "Logout", destroy_user_session_path, method: :delete, class: "header-right__btn"
  .introduction
    .introduction-box
      =image_tag src="logo.png", class: "introduction-box__image"
  
  .main
    .main-side-left
    .main-content
      - @posts.each do |post|
        = link_to "posts/#{post.id}", method: :get do
          .main-content-image{style: "background-image: url(#{post.image});"}
    .main-side-right
- else
  .header
    .header-left
      %input{type: "text", class: "header-left__serch", placeholder: "What title?"}
      %input{type: "submit", class: "header-left__btn", value:"serch"}
  .introduction
    .introduction-box
      =image_tag src="logo.png", class: "introduction-box__image"
      = link_to new_user_session_path, class: "introduction-box__login" do
        = image_tag "login.png",:size =>'120x60'
      = link_to new_user_registration_path, class: "introduction-box__signup" do
        = image_tag "signup.png",:size =>'180x60'