.new-header
  .new-header-left
    %input{type: "text", class: "new-header-left__serch", placeholder: "What title?"}
    %input{type: "submit", class: "new-header-left__btn", value:"serch"}
  .new-header-right
    = link_to "Logout", destroy_user_session_path, method: :delete, class: "header-right__btn"
=form_with model: @post, class: "new__post",local: true do |form|
  .new__post-box
    =form.text_field :title, placeholder: "title", class: "new__post-title"
    = form.label :image,class: 'new__post-image' do
      = icon('fas', 'image')
      = form.file_field :image, class: "new__post-image__file"
    =form.text_area :text, placeholder: "text", class: "new__post-area"
    =form.submit "SEND", class: "send-btn"
.new-footer
  = link_to "/",class: "new-footer-btn" do
    %i.fas.fa-home
  = link_to new_post_path, class: "new-footer-btn" do
    %i.far.fa-plus-square
  = link_to "#", class: "new-footer-btn" do
    %i.fas.fa-hashtag
  = link_to "#", class: "new-footer-btn" do
    %i.far.fa-heart
  = link_to "users/#{current_user.id}", class: "new-footer-btn" do
    %i.fas.fa-smile
-# = f.label :image,class: 'main-form__box-image' do
-#           = icon('fas', 'image')
-#           = f.file_field :image, class: 'main-form__box-image__file'
/users/:id(.:format)
-# "users/#{current_user.id}"