.header
  .header-left
    %input{type: "text", class: "header-left__serch", placeholder: "What title?"}
    %input{type: "submit", class: "header-left__btn", value:"serch"}
  .header-right
    - if user_signed_in?
      = link_to '削除', "/posts/#{@post.id}", method: :delete
      = link_to '編集', "/posts/#{@post.id}/edit", method: :get
    - else
      = link_to "Login", new_user_session_path, class: "header-right__btn"
      = link_to "Sign up", new_user_registration_path, class: "header-right__btn"
.content
  .content-title
    = @post.title
  .content-image{style: "background-image: url(#{@post.image});"}
  .content-text
    = @post.text
  .content-comment
    = form_with(model: [@post, @comment], local: true) do |form|
      = form.text_area :text, placeholder: "コメントする", class: "content-comment-fild"
      = form.submit "SEND", class: "content-comment-submit"
  .comments
  %h4 ＜コメント一覧＞
  - if @comments
    - @comments.each do |comment|
      %p
        %strong
          = link_to comment.user.nickname, "/users/#{comment.user_id}"
          ：
        = comment.text

.footer
  = link_to "/",class: "footer-btn" do
    %i.fas.fa-home
  = link_to new_post_path, class: "footer-btn" do
    %i.far.fa-plus-square
  = link_to "#", class: "footer-btn" do
    %i.fas.fa-hashtag
  = link_to "#", class: "footer-btn" do
    %i.far.fa-heart
  = link_to "users/#{current_user.id}", class: "footer-btn" do
    %i.fas.fa-smile