.header
  .header-left
    %input{type: "text", class: "header-left__serch", placeholder: "What title?"}
    %input{type: "submit", class: "header-left__btn", value:"serch"}
  .header-right
    - if user_signed_in?
      = link_to '削除', "/posts/#{@post.id}", method: :delete
      = link_to '編集', "/posts/#{@post.id}/edit", method: :get
    - else
      = link_to "Login", new_user_session_path, class: "header-right__btn"
      = link_to "Sign up", new_user_registration_path, class: "header-right__btn"
.content
  .content-title
    = @post.title
  .content-image{style: "background-image: url(#{@post.image});"}
  .content-text
    = @post.text
  .content-like
    %h3
      いいね件数: #{@post.likes.count}
    - if current_user.already_liked?(@post)
      = button_to 'いいねを取り消す', post_like_path(@post), method: :delete
    - else
      = button_to 'いいね', post_likes_path(@post)
    %h2 いいねしたユーザー
    - @post.liked_users.each do |user|
      %li= user.email
  .content-comment
    = form_with(model: [@post, @comment], local: true, id: "new_comment") do |form|
      = form.text_area :text, placeholder: "コメントする", class: "content-comment-fild"
      = form.submit "SEND", class: "content-comment-submit"
.comments
  %h4 ＜コメント一覧＞
  .comment-list
    - if @comments
      - @comments.each do |comment|
        %p
          %strong
            = link_to comment.user.nickname, "/users/#{comment.user_id}"
            ：
            = comment.text

.footer
  = link_to "/",class: "footer-btn" do
    %i.fas.fa-home
  = link_to new_post_path, class: "footer-btn" do
    %i.far.fa-plus-square
  = link_to "#", class: "footer-btn" do
    %i.fas.fa-hashtag
  = link_to "#", class: "footer-btn" do
    %i.far.fa-heart
  = link_to "users/#{current_user.id}", class: "footer-btn" do
    %i.fas.fa-smile